html {
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

:root {
    --main-title-color: #ffffff;
    --main-link-color: #212121;
    --main-text-color: #757575;
    --main-btn-color: #ffffff;
    --main-subtitle-color: #212121;
    --main-Portfolio-text-color: #757575;
    --mine-navi-btn-color: #212121;
    --main-order-service: #2196F3;
    --main-background: #2F303A;
    --main-navi-btn-background: #F5F4FA;
    --border-color-cards: #eeeeee;
    --raleway: 'raleway', sans-serif;
    --roboto: 'roboto', sans-serif
}

.list-styles {
    list-style: none;
}

.header-link:hover,
.header-link:focus {
    color: #2196f3;
}

.link-text {
    text-decoration: none;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
    Max-width: 100%;
    Height: auto;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.current {
    color: #2196f3;
}


/* < !--------header-------- !> */


.main-nav {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #ececec;
}

.header-navigation {
    display: flex;
    align-items: center;
}



.header-logo {
    display: block;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-order-service);
    text-decoration: none;
}

.header-studio {
    font-family: var(--Raleway);
    color: #000000;
}

.header-list {
    list-style-type: none;
    align-items: center;
    display: flex;
    margin-left: 93px;
}


.header-item {
    margin-right: 50px;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

/* .header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-link-color);
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
} */

.header-link:hover,
.header-link:focus {
    color: #2196f3;
}

.header-contact {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

.header-mail,
.header-tel {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.header-mail,
.header-tel:not(:last-child) {
    margin-right: 50px;
}

.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--main-order-service);
}

/* < !-------------HERO--------- !> */

.hero {
    background-color: var(--main-background);
    text-align: center;
}

.hero .container {
    padding: 200px 0px;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0px;
    color: var(--main-title-color);
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    cursor: pointer;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;

    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    max-height: 50px;
    border: transparent;
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188ce8;
}

/* < !--------------FEATURES------------------ !> */


.features {
    margin: 94px;
}

.features-list {
    list-style-type: none;
    display: flex;

    /* flex-wrap: wrap; */

}

.features-item {
    flex-basis: calc(100% / 4 - 30px);
    min-width: 270px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.feature-item:not(:last-child) {
    margin-right: 30px;
}

.item-title {
    color: var(--main-link-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.item-text {
    line-height: 1.71;
}


/* < !-------------------WE-DO------------------ !> */


.we-do-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--main-link-color);
    text-align: center;
    margin-bottom: 50px;
}

.we-do-list {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
}

.we-do-photo {
    margin-right: 30px;
}

.we-do-photo>.we-do-list {
    flex-basis: calc(100% / 3 -30px);
}

.we-do-photo>.we-do-list:not(:last-child) {
    margin-right: 30px;
}



/* < !-------------------TEAM------------------- !> */


.team {
    margin-top: 94px;
    background: #F5F4FA;
    display: flex;
    padding: 90px 0px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-link-color);
    margin-bottom: 50px;
    text-align: center;
}

.team-title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;

}

.team-list {
    display: flex;

    /* flex-wrap: wrap; */

    list-style-type: none;
    background: var(--white-color);
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; */
}

.team-item>.team-item {
    flex-basis: calc(100% / 4-30px);
}

.team-item>.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-discription {
    background: var(--main-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-item {
    display: block;
    margin-right: 30px;
}

.team-item-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 87;
    letter-spacing: 0.03em;
    color: var(--main-link-color);
    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;

    margin-top: 10px;
    text-align: center;
}


/* < !---------------------FOOTER-------------------- !> */


.footer {
    background-color: var(--main-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .footer-studio {
    margin-bottom: 20px;
}

.footer-logo {
    font-family: var(--raleway);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-order-service);
    margin-bottom: 20px;
}

.footer-studio {
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.footer-list {
    margin-top: 20px;
}


.footer-item {
    display: block;
    margin-bottom: 9px;
    margin-top: 9px;
    max-height: 21px;
}

.footer-maps {
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.footer-mail,
.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/*--------------------------------------- Page 2 ---------------------------*/

/*----------------- Navi ---------------------------*/
.footer {
    background-color: var(--main-background);
}

.navi-list {
    list-style-type: none;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.list-btn {
    display: block;
    margin-right: 8px;
}

.navi-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--mine-navi-btn-color);
    background: var(--main-navi-btn-background);

    padding: 6px 22px;
    max-height: 38px;
    border: transparent;
    border-radius: 4px;
}

.navi-btn:hover,
.navi-btn:focus {
    background-color: #2196f3;
    color: var(--main-btn-color);
}


/* ---------------Portfolio------------- */

.progect-description {
    padding: 20px 24px;
    border-bottom: 1px solid var(--border-color-cards);
    border-right: 1px solid var(--border-color-cards);
    border-left: 1px solid var(--border-color-cards);
}

.portfolio {
    margin-right: auto;
    margin-left: auto;
    margin-top: 94px;
    margin-bottom: 94px;
}

.list-btn:last-child {
    margin-right: 0px;
}

.navi-btn:hover,
.navi-btn:focus {
    background-color: var(--main-order-service);
    color: #ffffff;
}

.portfolio-title {
    color: var(--main-subtitle-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

}

.portfolio-list>.we-do-photo {
    display: inline-block;
    flex-basis: calc(100% /3-30px);
    max-width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-list:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list>.we-do-photo:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-project {
    display: inline-block;
    max-width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-images {}

.portfolio-sub-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--main-subtitle-color);

}

.portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-Portfolio-text-color);

}